<a href="https://colab.research.google.com/github/Azimira/task/blob/master/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")
print(10)
print(24)

Hello World
10
24

In [ ]:
# Default Parameters Of Print Function
# functionName?
# help(functionName)
# print?

print('Firts Line',end='\t')    #\n --> Newline  #\t --> tabSpace
print('Second LIne')

Firts Line	Second LIne

In [ ]:
print('FirstValue','SecondValue','ThirdValue',sep=' & ')

FirstValue & SecondValue & ThirdValue

In [ ]:
# Phyton Numbers
# Phyton as a calculator

print(3+3)
print(10-5)
print(10*8)
print(72/2) #In Phyton Division Operator Always Return In Float/Decimal
# Floor Divison // Always Return Value In Integer
print(72//2)
# Exponential Operatos **
print(2**10) # 2 to the power of 10
print(78**78)
# Modulo Operator % --> used to give reminder
print(17%2)

6
5
80
36.0
36
1024
3831589812313461262138726500006414268147534037893115512325908939170687185145438579006950082195309705885134607990418665607337632973770507236843454464
1

In [ ]:
print('Phyton',end='\t')
print('Programming')
print('Is','Easy', sep=' ---> ')

Phyton	Programming
Is ---> Easy

In [ ]:
# Variables and Data Types
num1 = 10
num2 = 20
print(num1+num2)

30

In [10]:
# Data Type In Phyton
# Phyton Uses Dynamic Typing
# 1.) in phyton you are not required to write the data type before declaring a
#     variable
# 2.) in phyton you can resigned variable to a different data types

# int data type
# used to hold integer value (both positive and negative integer)

intValue = 10
print(intValue)

# type() --> used to check the DataType oF Variable
print(type(intValue))

# Float Data Type

floatValue = 90.121
print(type(floatValue))

# string dataType

strValue = 'PythonProgramming'
print(type(strValue),strValue)

#boolean DataType --> True/False

boolType = True
print(type(boolType),boolType)

10
<class 'int'>
<class 'float'>
<class 'str'> PythonProgramming
<class 'bool'> True

In [1]:
# STRINGS In Phyton
# sequence of characters


str1 = "String"
str2 = 'String'
print(type(str1), type(str2))

<class 'str'> <class 'str'>

In [18]:
course = 'PythonProgramming'
# P  y  t  h o  n  P  r  o  g  r  a  m  m  i  n  g
# 0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16 

# indexing --> indexing allows you to grab a single character from a string
# indexing uses [] notation

print(course[2])
print(course[15])
print(course[6:13])
print(course[0:6])
print(course[:12])
print(course[7:])
print(course[13:])
# stepCount
print(course[1:13])
print(course[1:13:2])
# negative indexing
print(course[:-4])

t
n
Program
Python
PythonProgra
rogramming
ming
ythonProgram
yhnrga
PythonProgram

In [14]:
# Python Assignment Operator
x = 10
print(x)

a = 100
a += 10   # a = a + 10
print(a)

10
110

In [19]:
# Python Comparison Operator == < > !=  <= >=
x = 12
y = 10
print(x==y)
print(x<y)
print(x>y)
print(x!=y)

False
False
True
True

In [20]:
age = 20
print('Eligible For Driving:', age>=20)

Eligible For Driving: True

In [23]:
# Python Logical Operators ----> AND OR NOT
# AND
# Return TRUE when both the conditions will be true

a = 100
b = 200
print(a==100 and b==200)
print(a==1000 and b==200)

True
False

In [24]:
# OR
# Resturn TRUE when any of condition is true
a = 100
b = 200
print(a==100 or b==200)
print(a==1000 or b==200)

True
True

In [28]:
# NOT
x = 10
y = 20
print(not(x==10 and y>=20)) 
print(not(x==10 and y==20))
print(not(x==20 and y==10))

False
False
True

In [29]:
# Membership Operator
# in   not in

# in --> return true when specified value exist in the sequence

strValue = 'Python Is Easy'
print('Easy' in strValue)
print('Difficult' in strValue)

# not in Operator
print('Difficult' not in strValue)

True
False
True